##
# EditorConfig configuration.
#
# Assists with style consistency within editors. Enforced with linting.
#
# @link https://editorconfig.org
#

##
# Prevents parsing EditorConfig configurations that may exist in parent directories.
#
root = true


##
# Apply uniform standards to all files, unless specified.
#
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120


##
# Makefile requires tabs.
#
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4
tab_width = 4
