##
# GitIgnore.
#
# The file patterns here won't commit to the `git` Repository.
#
# Don't add operating system or IDE files, here. This file is only for project-releated ignores. If you have ignores
# specific to your environment, you should add a global ignore file, instead:
#
# ```sh
# git config --global core.excludesfile '~/.gitignore_global'
# ```
#
# @link https://git-scm.com/docs/gitignore
# @link https://help.github.com/articles/ignoring-files
#


##
# MegaLinter.
#
# @link https://megalinter.io/
#

**/*megalinter*
.ruff_cache/
megalinter-reports/

##
# Visual Studio Code.
#
# This is an exception to the IDE rules in the preceding description, as VSCode is the formally supported IDE for this
# project, and certain configurations are available to best support the project's Software Development Lifecycle.
#
# @link https://code.visualstudio.com/
#
.vscode/**/*
!.vscode/extensions.json
!.vscode/README.md
!.vscode/settings.json
