##
# GitAttributes.
#
# Enforces proper diff settings and makes use of GitHub LFS for binary files. If you add any extensions to this file,
# please consider adding them to the `template-core` project to create a central Repository of mappings.
#
# @link https://git-scm.com/docs/gitattributes
# @link https://git-lfs.com/
#


##
# AUTO-DETECT.
#
# Handle line endings automatically for files detected as text and leave all files detected as binary untouched. This
# handles all files not defined below.
#

* text=auto eol=lf


##
# Source Code.
#

*.bat      text eol=crlf
*.coffee   text eol=lf
*.css      text eol=lf
*.htm      text eol=lf diff=html
*.html     text eol=lf diff=html
*.inc      text eol=lf
*.ini      text eol=lf
*.js       text eol=lf
*.json     text eol=lf
*.jsx      text eol=lf
*.less     text eol=lf
*.od       text eol=lf
*.onlydata text eol=lf
*.php      text eol=lf diff=php
*.pl       text eol=lf
*.py       text eol=lf diff=python
*.rb       text eol=lf diff=ruby
*.sass     text eol=lf
*.scm      text eol=lf
*.scss     text eol=lf
*.sh       text eol=lf
*.sql      text eol=lf
*.styl     text eol=lf
*.tag      text eol=lf
*.ts       text eol=lf
*.tsx      text eol=lf
*.vue      text eol=lf
*.xml      text eol=lf
*.xhtml    text eol=lf diff=html


##
# Docker.
#

*.dockerignore text eol=lf
Dockerfile     text eol=lf


##
# Documentation.
#

*.ipynb      text eol=lf
*.markdown   text eol=lf
*.md         text eol=lf
*.mdwn       text eol=lf
*.mdown      text eol=lf
*.mkd        text eol=lf
*.mkdn       text eol=lf
*.mdtxt      text eol=lf
*.mdtext     text eol=lf
*.txt        text eol=lf
AUTHORS      text eol=lf
CHANGELOG    text eol=lf
CHANGES      text eol=lf
CONTRIBUTING text eol=lf
COPYING      text eol=lf
copyright    text eol=lf
*COPYRIGHT*  text eol=lf
INSTALL      text eol=lf
license      text eol=lf
LICENSE      text eol=lf
NEWS         text eol=lf
readme       text eol=lf
*README*     text eol=lf


##
# Templates.
#

*.dot        text eol=lf
*.ejs        text eol=lf
*.haml       text eol=lf
*.handlebars text eol=lf
*.hbs        text eol=lf
*.hbt        text eol=lf
*.jade       text eol=lf
*.latte      text eol=lf
*.mustache   text eol=lf
*.njk        text eol=lf
*.phtml      text eol=lf
*.tmpl       text eol=lf
*.tpl        text eol=lf
*.twig       text eol=lf


##
# Linters.
#

.csslintrc          text eol=lf
.eslintrc           text eol=lf
.htmlhintrc         text eol=lf
.jscsrc             text eol=lf
.jshintrc           text eol=lf
.jshintignore       text eol=lf
.jsonlintrc         text eol=lf
.lycheeignore       text eol=lf
.markdownlintignore text eol=lf
.prettierignore     text eol=lf
.stylelintrc        text eol=lf


##
# Configurations.
#

*.bowerrc       text eol=lf
*.cnf           text eol=lf
*.conf          text eol=lf
*.config        text eol=lf
.babelrc        text eol=lf
.browserslistrc text eol=lf
.editorconfig   text eol=lf
.env            text eol=lf
.gitattributes  text eol=lf
.gitconfig      text eol=lf
.htaccess       text eol=lf
*.lock          text eol=lf
*.npmignore     text eol=lf
*.yaml          text eol=lf
*.yml           text eol=lf
browserslist    text eol=lf
Makefile        text eol=lf
makefile        text eol=lf


##
# Graphics.
#

*.ai   filter=lfs diff=lfs merge=lfs -text
*.bmp  filter=lfs diff=lfs merge=lfs -text
*.eps  filter=lfs diff=lfs merge=lfs -text
*.gif  filter=lfs diff=lfs merge=lfs -text
*.ico  filter=lfs diff=lfs merge=lfs -text
*.jng  filter=lfs diff=lfs merge=lfs -text
*.jp2  filter=lfs diff=lfs merge=lfs -text
*.jpg  filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpx  filter=lfs diff=lfs merge=lfs -text
*.jxr  filter=lfs diff=lfs merge=lfs -text
*.pdf  filter=lfs diff=lfs merge=lfs -text
*.png  filter=lfs diff=lfs merge=lfs -text
*.psb  filter=lfs diff=lfs merge=lfs -text
*.psd  filter=lfs diff=lfs merge=lfs -text
*.svg  text eol=lf
*.svgz filter=lfs diff=lfs merge=lfs -text
*.tif  filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.wbmp filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text


##
# Audio.
#

*.kar  filter=lfs diff=lfs merge=lfs -text
*.m4a  filter=lfs diff=lfs merge=lfs -text
*.mid  filter=lfs diff=lfs merge=lfs -text
*.midi filter=lfs diff=lfs merge=lfs -text
*.mp3  filter=lfs diff=lfs merge=lfs -text
*.ogg  filter=lfs diff=lfs merge=lfs -text
*.ra   filter=lfs diff=lfs merge=lfs -text


##
# Video.
#

*.3gpp filter=lfs diff=lfs merge=lfs -text
*.3gp  filter=lfs diff=lfs merge=lfs -text
*.as   filter=lfs diff=lfs merge=lfs -text
*.asf  filter=lfs diff=lfs merge=lfs -text
*.asx  filter=lfs diff=lfs merge=lfs -text
*.fla  filter=lfs diff=lfs merge=lfs -text
*.flv  filter=lfs diff=lfs merge=lfs -text
*.m4v  filter=lfs diff=lfs merge=lfs -text
*.mng  filter=lfs diff=lfs merge=lfs -text
*.mov  filter=lfs diff=lfs merge=lfs -text
*.mp4  filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mpg  filter=lfs diff=lfs merge=lfs -text
*.ogv  filter=lfs diff=lfs merge=lfs -text
*.swc  filter=lfs diff=lfs merge=lfs -text
*.swf  filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text


##
# Archives.
#

*.7z  filter=lfs diff=lfs merge=lfs -text
*.gz  filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text


##
# Fonts.
#

*.ttf   filter=lfs diff=lfs merge=lfs -text
*.eot   filter=lfs diff=lfs merge=lfs -text
*.otf   filter=lfs diff=lfs merge=lfs -text
*.woff  filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text


##
# Executables.
#

*.exe filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
