##
# Prettier ignore configuration.
#
# Ensures that compiled and third-party resources aren't modified by formatting scripts and checks.
#
# @link https://prettier.io/docs/en/ignore
#

.config/linters/vale/styles/Google/**/*
LICENSE
LICENSE.*
